#info { 
  height: auto; 
  width: 888px;
  display: block; 
  font-family: 'Exo', sans-serif;
  font-size: 20px;
  color: #999999; 
  text-shadow: 0px 0px 11px #070607; 
  text-align: center;
  letter-spacing: 2px;
  filter: dropshadow(color=#070607, offx=0, offy=0); 
}
